/* .deleteCard {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.modal {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.modal_title {
  display: flex;
  justify-content: center;
  background-color: #084066;
  padding: 1em;
  width: 100%;
}
.modal_question {
  display: flex;
  color: white;
}
.buttons {
  display: flex;
  gap: 1em;
  margin-bottom: 1em;
} */
