.editList-form {
  z-index: 500;
}

.editList {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.editModal-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20em;
  height: 3em;
  border-radius: 8px;
  padding: 8px;
  background: #22272b;
  color: white;
}

.edit-listModal_buttons {
  display: flex;
  align-items: center;
  gap: 8px;
}
.add-listModal_close {
  cursor: pointer;
  padding: 5px;
}
.edit-listModal_close:hover {
  background: #282f27;
}
