.button {
  padding: 8px;
  background: transparent;
  color: #9fadbc;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
  border-radius: 8px;
  font-size: medium;
  height: 40px;
}

.button:hover {
  background: #282f27;
}
.add_aCard {
  width: 100%;
}

.add_modal {
  background: #579dff;
  width: 40%;
  color: black;
  font-size: medium;
  justify-content: center;
}
.add_modal:hover {
  background: lightblue;
  background: #85b8ff;
}
.add_list {
  background: #4d7da3;
  width: 17em;
  color: white;
  margin-top: 2px;
}
.add_list:hover {
  background: #296795;
}

.button-modal {
  background: #579dff;
  width: 10em;
  color: black;
  font-size: medium;
  justify-content: center;
  font-weight: 700;
}
.button-modal:hover {
  background: lightblue;
  background: #85b8ff;
}
.button-listActions:hover {
  background: #3c474f;
}

.button-try_trelloClone {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #ff8c00;
  color: white;
}
.button-try {
  display: none;
  align-items: center;
  justify-content: center;
  width: 50%;
  background: #ff8c00;
  color: white;
}

.button-try:hover,
.button-try_trelloClone:hover {
  cursor: pointer;
  background: white;
  color: gray;
  border: 1px solid gray;
}

@media (max-width: 575px) {
  .button-try_trelloClone {
    display: none;
    width: 3em;
  }
  .button-try {
    display: flex;
  }
}
