.button {
  padding: 8px;
  background: transparent;
  color: #9fadbc;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
  border-radius: 8px;
  font-size: medium;
  height: 40px;
}

.button:hover {
  background: #282f27;
}
.add_aCard {
  width: 100%;
}

.add_card {
  background: #579dff;
  width: 40%;
  color: black;
  font-size: medium;
  justify-content: center;
}
.add_card:hover {
  background: lightblue;
  background: #85b8ff;
}
.add_list {
  background: #4d7da3;
  width: 17em;
  color: white;
  margin-top: 2px;
}
.add_list:hover {
  background: #296795;
}

.button-delete {
  background: #579dff;
  width: 10em;
  color: black;
  font-size: medium;
  justify-content: center;
  font-weight: 700;
}
.button-delete:hover {
  background: lightblue;
  background: #85b8ff;
}
