.about {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 2em;
  text-align: center;
  padding: 3em;
  color: white;
  overflow-x: auto;
}
.about-list {
  padding: 0;
  margin: 0;
  text-align: left;
}
.about-span {
  font-weight: bold;
}

@media (max-width: 768px) {
  .about {
    flex-direction: column;
    padding-left: 100px;
  }
}
