.about {
  /* background: green; */
  width: 100%;
  height: calc(100vh - 65px);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 2em;
  text-align: center;
  padding: 3em;
}

@media (max-width: 768px) {
  .about {
    flex-direction: column;
    padding-left: 100px;
  }
}
