.sidebar {
  position: sticky;
  z-index: 10000;
  display: none;
  background: #1d2125;

  height: calc(100vh - 65px);
  /* width: 300px; */
  width: 250px;

  transition: width 0.3s ease;
  border-top: 1px solid #2f3c48;
}

.sidebar a {
  position: relative;
  color: #2c3d50;
  font-weight: light;
  font-size: 1.4rem;
  text-decoration: none;
}

.sidebar a:hover,
.sidebar a.active {
  color: gray;
}

.sidebarLinks {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding-top: 5em;
  text-align: center;
}
.arrow-left {
  position: absolute;
  left: 180px;
  margin: 8px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow-left:hover {
  cursor: pointer;
  background: #2f3c48;
}
.arrow-right {
  position: absolute;

  margin: 8px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow-right:hover {
  cursor: pointer;
  background: #2f3c48;
}

.collapsed {
  width: 70px;
  transition: width 0.3s ease;
}
@media (max-width: 768px) {
  .sidebar {
    display: flex;
    align-items: start;
  }
}
