.add-modal {
  display: flex;
  flex-direction: column;
  gap: 1em;
  position: relative;
  z-index: 500;

  /* top: -30px; */
}

.add-modal_textarea {
  width: 100%;
  height: 6em;
  background: #22272b;
  border: none;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;
  color: white;
  padding: 8px 0;
  text-indent: 8px;

  resize: vertical;
  max-height: 12.5em;
  min-height: 3em;
}
.add-modal_textarea::placeholder {
  color: #b5c2cf;
  font-family: Roboto, sans-serif;
  font-size: medium;
}
.add-cardModal_buttons {
  display: flex;
  align-items: center;
  gap: 8px;
}
.add-cardModal_close {
  cursor: pointer;
  padding: 5px;
}
.add-cardModal_close:hover {
  background: #282f27;
}
