.board-body {
  flex: 1;
  padding: 1em;
  display: flex;
  align-items: flex-start;
  gap: 1em;
  min-height: min-content;
  overflow-x: auto;
}

.board-body > * {
  height: 100%;
  min-height: min-content;
}
