.boards {
  padding: 8px;
}
.boards-outer {
  display: flex;
  flex-direction: column;
  justiy-content: center;
  align-items: center;
  gap: 1em;
  width: 100%;
}
.create-board {
  /* background: red; */
  display: flex;
  flex-direction: column;
}
.yourBoards {
  background: green;
  display: flex;
  flex-direction: column;
}
