.board-list {
  display: flex;
  flex-direction: column;
  /* gap: 8px; */
}

.list-title {
  font-weight: bold;
  color: #b5c2cf;
  cursor: pointer;
  padding: 8px;
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.modal-outer {
  margin-top: 8px;
}
