.card {
  width: 100%;
  display: flex;
  align-items: center;
  background: #22272b;
  color: #b0bbc8;
  border-radius: 8px;
  padding: 8px 0;
  text-indent: 8px;
}
.card:hover {
  cursor: pointer;
  border: 1px solid #99c8ff;
}

.card-dragging {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  background: #22272b;
  color: #b0bbc8;
  border-radius: 8px;
  padding: 8px 0;
  text-indent: 8px;
  opacity: 0.5;
}
