.card-outer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #22272b;
  border-radius: 8px;
}
.card-outer:hover {
  cursor: pointer;
  border: 1px solid #99c8ff;
}

.card {
  /* width: 100%; */
  display: flex;
  align-items: center;
  /* background: #22272b; */
  color: #b0bbc8;
  /* border-radius: 8px; */
  padding: 8px 0;
  text-indent: 8px;
}
/* .card:hover {
  cursor: pointer;
  border: 1px solid #99c8ff;
} */

.card-dragging {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  background: #22272b;
  color: #b0bbc8;
  border-radius: 8px;
  padding: 8px 0;
  text-indent: 8px;
  opacity: 0.5;
}

/* .edit-icon {
  padding: 4px 8px;
}
.edit-icon:hover {
  border-radius: 50%;
  background: #282e32;
} */

.card-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin: 4px;
}
.card-icon {
  padding: 4px 8px;
}
.card-icon:hover {
  border-radius: 50%;
  background: #282e32;
}
