.edit-form {
  z-index: 500;
}

.edit-card {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.modal_input {
  display: flex;
  width: 20em;
  height: 10em;
  border-radius: 8px;
  padding: 8px;
  background: #22272b;
  color: white;

  resize: vertical;
  max-height: 12.5em;
  min-height: 3em;
}

.edit-cardModal_buttons {
  display: flex;
  align-items: center;
  gap: 8px;
}
.add-cardModal_close {
  cursor: pointer;
  padding: 5px;
}
.edit-cardModal_close:hover {
  background: #282f27;
}
