.navigation {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background: #1d2125;

  width: 100%;
  z-index: 10000;
  height: 65px;
}
.logo {
  display: flex;
  cursor: pointer;
}
.logo img {
  width: 150px;
}

.links {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.navigation a {
  position: relative;
  color: #9fadbc;
  font-weight: light;
  font-weight: 500;
  font-size: 1.4rem;
  text-decoration: none;
}

.navigation a:hover,
.navigation a.active {
  color: white;
}

a:after {
  content: "";
  position: absolute;
  height: 1px;
  bottom: -3px;
  left: 0;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

a:hover:after {
  width: 100%;
  transform: scaleX(1);
  transform-origin: center;
}
.hamburger {
  cursor: pointer;
  display: none;
  transition: transform 0.5s ease-out;
}
.hamburger__show {
  transform: rotate(-90deg);
}

.nav__logo {
  opacity: 1;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

@media (max-width: 768px) {
  .links {
    display: none;
  }
  .hamburger {
    display: flex;
  }
  .nav-button {
    display: none;
  }
}
